:root{
    --AlabasterWhite: #EFE8DF;
    --NightBlack: #0f0f0f;
    --SpanishOrange: #e56826;
    --ElectricBlue: #1e3dc5;
    --Distance: 5%;
    }
    
    body{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        background-color: var(--AlabasterWhite);
        font-family: proxima nova, sans-serif;
    }
    
    h1{
        color: var(--NightBlack);
        font-size: 2rem;
        font-weight: 700;
        padding-left: var(--Distance);
    }
    
    h2{
        font-weight: 700;
        font-size: 1.5rem;
        color: var(--NightBlack);
        margin: 0;
    }
    
    h3{
        font-weight: 600;
        font-size: 1.25rem;
        color: var(--NightBlack); 
        margin: 0;   
    }
    
    h4{
        font-weight: 600;
        font-size: 1rem;
        color: var(--ElectricBlue);
        margin: 0;
    }
    
    h5{
        font-weight: 600;
        font-size: 1rem;
        color: var(--NightBlack);
        margin: 0;
    }
    
    /* p{
        margin: 0;
    } */
    
    button{
        border-radius: 5%;
        background-color: var(--SpanishOrange);
        border: var(--SpanishOrange);
        width: 137px;
        height: 40px;
        padding: 1%;
        font-weight: 600;
        font-size: 1rem;
    }
    
    /* Prikket vandrette streg */
    hr{
        border-top: 4px dotted var(--SpanishOrange);
    }
    
    ul{
        text-decoration: none;
        display: none;
    }
    
    nav img{
    max-width: 30%;
    height: auto;
    padding: var(--Distance);
    }
    
    aside{
        width: 90%;
        height: auto;
        background-color: #DAD3CB;
        margin: var(--Distance) auto;
        border-radius: 2%;
    }
    
    #sorting_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 5%;
    }
    
    .project_card{
        height: auto;
        box-shadow: 0px 4px 10px var(--NightBlack);
        padding: var(--Distance);
        border-radius: 10px;
        margin: 30px var(--Distance);
    }
    
    /* .image_filters og .image_filters img hænger automatisk sammen, i det den ene styler "kassen", og den anden direkte på billedet. 
    Sætter du class="image-filter" på kassen, vil alle billeder heri have følgende styling*/
    .image_filters{
        width: 100%;
        height: 192px;
        object-fit: cover;
        margin-bottom: 10px;
        box-shadow: inset 0px 4px 50px 20px rgba(15, 15, 15, 0.4);
        border-radius: 5px;
    }
    
    .image_filters img{
        width: 100%;
        height: 100%;
        border: 1px solid var(--SpanishOrange);
        z-index: -2;
        position: relative;
        border-radius: 5px;
    }
    
    .project_card p{
        margin: 10px 0px;
    }

    .project_paragraph{
        color: #0f0f0f;
    }
    
    .intro{
        padding: 0px var(--Distance);
    }
    
    .guide_card{
        width: 90%;
        height: auto;
        object-fit: cover;
        width: 90%;
        margin: 30px var(--Distance);
    }
    
    .guide_card img{
        width: 100%;
        height: 40vh;
        object-fit: cover;
        box-shadow: 0px 4px 10px 0px rgba(15, 15, 15, 0.5);
    }
    
    .guide_card h3{
        padding-top: var(--Distance);
    }
    
    .course_card{
        display: flex;
        justify-content: space-between;
        padding-top: var(--Distance);
        flex-wrap: wrap;
    }
    
    #printing_courses{
        padding: var(--Distance);
    }
    
    footer{
    background-color: var(--NightBlack);    
    padding: var(--Distance);
    height: auto;
    color: var(--AlabasterWhite);
    margin-top: var(--Distance);
    }
    
    
    footer img{
    max-width: 50%;
    height: auto;
    padding: var(--Distance);
    }
    
    footer p{
        padding: var(--Distance);
        font-weight: 600;
    }
    
    .socials{
        display: flex;
        justify-content: space-between;
    }
    
    .socials img{
        width: 10%;
    }
    